.about-good-bg-out {
    background-color: $mainBg;
}

.about-good-bg-inner {
    position: relative;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.about-good-bg-rect {
    position: absolute;
    left: 0;
    top: 140px;
    width: 80px;
    height: 591px;
    background: $mainColor;
}

.about-good {
    padding-top: 18px;
    padding-bottom: 29px;
}

.about-good__name {
    width: 1299px;
    font-weight: 600;
    font-size: 37px;
    line-height: 1.24;
    color: $black;
    margin-bottom: 95px;
}

.about-good__series {
    color: $mainColor;
}

.about-good__info-container {
    display: flex;
}

.about-good__img-container {
    flex-shrink: 0;
    width: 727px;
    margin-right: 88px;
}

.about-good__img-wrapper {
    width: 727px;
    height: 477px;
    border: 2px solid $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.about-good__img {
    width: 476px;
}

.about-good__socials {
    display: flex;
    justify-content: flex-end;
}

.about-good__text-share {
    font-size: 19.2px;
    line-height: 1.19;
    color: $black;
    margin-right: 24px;
}

.about-good__marks-container {
    margin-right: 17px;
}

.about-good__likes {
    display: flex;
    padding: 2.5px 7.5px 2.5px 7.5px;
    background: #FF3737;
    border-radius: 6px;
    margin-bottom: 12px;
    cursor: pointer;

}

.about-good__like-icon {
    width: 20px;
    margin-right: 8px;
}

.about-good__likes-value {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.26;
    color: white;
}

.about-good__shared {
    display: flex;
    padding: 2.5px 7.5px 2.5px 7.5px;
    background: #FF3737;
    border-radius: 6px;
    cursor: pointer;
}

.about-good__shared-icon {
    width: 20px;
    margin-right: 8px;
}

.about-good__shared-value {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.26;
    color: white;
}

.about-good__social-link {
    width: 33px;
    height: 35px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-right: 7px;
}

.about-good__social-link:last-child {
    margin-right: 0;
}

.about-good__social-icon {
    height: 25px;
}


.about-good__description-container {}

.about-good__code {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.23;
    color: $black;
    margin-bottom: 32px;
}

.about-good__code-span {
    color: $mainColor;
}

.about-good__info-list {
    margin-bottom: 48px;
}

.about-good__list-item {
    position: relative;
    padding-left: 22px;
    font-size: 24px;
    line-height: 155%;
    color: $black;
    margin-bottom: 8px;
}

.about-good__list-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 16px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $mainColor;
}


.about-good__connect-btn {}
