.about-company-bg-out {
    background-color: $mainBg;
}

.about-company-bg-inner {
    position: relative;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;

    background: url(../img/about-company/about-bg.svg) 1043px 161px no-repeat;
}

.about-company {
    padding-top: 181px;
    padding-bottom: 192px;
    display: flex;
}

.about-company_page-about {
    padding-top: 118px;
    padding-bottom: 60px;
}

.about-company__text-container {
    flex-shrink: 0;
    margin-right: 205px;
}

.about-company__heading-additional {
    margin-bottom: 4px;
}

.about-company__heading {
    margin-bottom: 32px;

}

.about-company__description {
    width: 757px;
    font-size: 24px;
    line-height: 158%;
    color: $black07;
}

.about-company__img-container {
    width: 556.89px;
    height: 365.68px;
    margin-top: 146px;

}

.about-company__img {
    @include inner-img();

}

.about-company__img-mobile-container {
    display: none;
}




// Это 1440
@media(max-width: 1800px) {

    .about-company-bg-inner {
        max-width: 1440px;
        background: url(../img/about-company/about-bg-1440.webp) 792px 103px no-repeat;
    }

    .about-company {
        padding-top: 95px;
        padding-bottom: 73px;
    }

    .about-company__heading {
        margin-bottom: 16px;
    }

    .about-company__text-container {
        margin-right: 134px;
    }

    .about-company__description {
        width: 554px;
        font-size: 20px;
    }

    .about-company__img-container {
        width: 385.9px;
        height: 253.4px;
        margin-top: 125px;
    }


}

// Это 1280
@media(max-width: 1439px) {

    .about-company-bg-inner {
        max-width: 1280px;
        background: url(../img/about-company/about-bg-1280.webp) 688px 53px no-repeat;
    }

    .about-company {
        padding-top: 87px;
        padding-bottom: 137px;
    }

    .about-company__text-container {
        margin-right: 140px;
    }

    .about-company__description {
        width: 440px;
        font-size: 16px;
    }

    .about-company__img-container {
        width: 342.87px;
        height: 225.14px;
        margin-top: 70px;

    }
}

// Это 1024
@media(max-width: 1279px) {
    .about-company-bg-inner {
        max-width: 1024px;
        background: url(../img/about-company/about-bg-1024.webp) 582px 71px no-repeat;
    }

    .about-company {
        padding-top: 70px;
        padding-bottom: 47px;
    }

    .about-company__text-container {
        margin-right: 76px;
    }

    .about-company__description {
        width: 435px;
    }

    .about-company__img-container {
        width: 274.38px;
        height: 180.17px;
        margin-top: 85px;
    }


}

// Это 768
@media(max-width: 1023px) {
    .about-company-bg-inner {
        max-width: 768px;
        background: url(../img/about-company/about-bg-768.webp) 432px 52px no-repeat;
    }

    .about-company {
        padding-top: 41px;
        padding-bottom: 30px;
    }

    .about-company__text-container {
        margin-right: 55px;
    }

    .about-company__description {
        width: 348px;
    }

    .about-company__img-container {
        width: 219.92px;
        height: 144.41px;
        margin-top: 79px;
    }




}

// Это 480
@media(max-width: 767px) {
    .about-company-bg-inner {
        max-width: 480px;
        background: url(../img/about-company/about-bg-480.webp) 33px 88px no-repeat;
    }

    .about-company {
        padding-top: 42px;
        padding-bottom: 31px;
    }

    .about-company__text-container {
        margin-right: 0;
        width: 100%;
    }

    .section-heading {
        margin-bottom: 54px;
    }

    .about-company__img-mobile-container {
        display: block;
        width: 337.09px;
        height: 221.35px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 68px;
    }

    .about-company__img-container {
        display: none;
    }

    .about-company__description {
        width: 100%;
    }
}

// Это 320
@media(max-width: 479px) {
    .about-company-bg-inner {
        max-width: 320px;
        background: url(../img/about-company/about-bg-320.webp) 17px 96px no-repeat;
    }

    .about-company {
        padding-top: 34px;
        padding-bottom: 30px;
    }

    .section-heading {
        margin-bottom: 45px;
    }

    .about-company__img-mobile-container {
        width: 230.96px;
        height: 151.66px;
        margin-bottom: 49px;
    }

    .about-company__description {
        height: 226.74px;
        overflow: hidden;
    }
}