$mainBg: #fff;
$mainColor: #FF3737;
$mainColor04: rgba(255, 55, 55, 0.4);
$mainColor06: rgba(255, 55, 55, 0.6);
$mainColor07: rgba(255, 55, 55, 0.7);
$black: #000000;
$black07: rgba(0, 0, 0, 0.7);
$black06: rgba(0, 0, 0, 0.6);

.container {
    max-width: 1638px;
    /* ширина контента+ падинги */
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}

// Это 1440
@media(max-width: 1800px) {
    .container {
        max-width: 1158px;  /* ширина контента+ падинги */
    }

}

// Это 1280
@media(max-width: 1439px) {
    .container {
        max-width: 998px;  /* ширина контента+ падинги */
    }

}

// Это 1024
@media(max-width: 1279px) {
    .container {
        max-width: 846px;  /* ширина контента+ падинги */
    }

}

// Это 768
@media(max-width: 1023px) {
    .container {
        max-width: 686px;
    }

}

// Это 480
@media(max-width: 767px) {
    .container {
        max-width: 446px;
    }

}

// Это 320
@media(max-width: 479px) {
    .container {
        max-width: 320px;
        padding: 0 16px;
    }

}

