.bread-crumbs-bg {
    background-color: $mainBg;
}

.bread-crumbs {
    display: flex;
    padding-bottom: 18px;
    padding-top: 18px;
    margin-top: 100px;
}

.bread-crumbs__item {
    position: relative;
    padding-right: 38px;
    font-size: 19.2px;
    line-height: 155%;
    color: $mainColor;
}

.bread-crumbs__item:last-child {
    padding-right: 0;
}

.bread-crumbs__item::after {
    content: '';
    position: absolute;
    right: 17px;
    top: 35%;
    display: block;
    width: 9px;
    height: 9px;
    border-top: 2px solid #ff3737;
    border-right: 2px solid #ff3737;
    transform: rotate(45deg);
}

.bread-crumbs__item_active {
    color: $black07;
    cursor: initial;
}

.bread-crumbs__item_active:after {
    content: none;
}


// Это 1440
@media(max-width: 1800px) {
    .bread-crumbs {
        padding-bottom: 13px;
        padding-top: 13px;
        margin-top: 70px;
    }

    .bread-crumbs__item {
        font-size: 16px;
    }

    .bread-crumbs__item::after {
        width: 7px;
        height: 7px;
        border-top: 1px solid #ff3737;
        border-right: 1px solid #ff3737;
    }



}

// Это 1280
@media(max-width: 1439px) {
    .bread-crumbs {
        margin-top: 50px;
    }


    .bread-crumbs__item {
        font-size: 12.8px;
        padding-right: 23px;
    }

    .bread-crumbs__item::after {
        width: 6px;
        height: 6px;
        right: 11px;
    }


}

// Это 1024
@media(max-width: 1279px) {

    .bread-crumbs {
        padding-bottom: 10px;
        padding-top: 10px;
        margin-top: 30px;
    }


    .bread-crumbs__item {
        font-size: 16px;
        padding-right: 23px;
    }

    .bread-crumbs__item::after {
        width: 6px;
        height: 6px;
        right: 11px;
    }


}

// Это 768
@media(max-width: 1023px) {
    .bread-crumbs {
        padding-bottom: 8px;
        padding-top: 8px;
        margin-top: 4px;
    }

    .bread-crumbs__item {
        font-size: 16px;
        padding-right: 23px;
    }

    .bread-crumbs__item::after {
        width: 6px;
        height: 6px;
        right: 11px;
    }
}

// Это 480
@media(max-width: 767px) {}

// Это 320
@media(max-width: 479px) {}