.btn {
    width: 227px;
    height: 51px;
    padding: 10px 48px;
    background-color: $mainColor;
    color: white;
    font-size: 19px;
    line-height: 1.57;
    font-weight: 600;
    border: 2px solid $mainColor;
    cursor: pointer;
    transition: background-color .25s ease-in,
        color .25s ease-in;

}

.btn:hover {
    background-color: white;
    color: $mainColor;
}

.btn_big {
    width: 255px;
    height: 58px;
    padding: 14px 61px;
    font-size: 19px;
    line-height: 155%;

}

.btn_small {
    width: 170px;
    height: 38px;
    padding: 7px 32px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6;



}

.btn_border_white {
    border: 2px solid #FFFFFF;
}

.btn__text {
    position: relative;
}

.btn__text_big {
    font-size: 24px;
    font-weight: 600;

}


.btn__text_has-arrow::after {
    content: '';
    position: absolute;
    right: -13px;
    top: 31%;
    display: block;
    width: 9px;
    height: 9px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    transition: border-color .25s ease-in;


}

.btn_small .btn__text_has-arrow::after {
    width: 7px;
    height: 7px;
}

.btn:hover .btn__text_has-arrow::after {
    border-color: $mainColor;
}



// Это 1440
@media(max-width: 1800px) {
    .btn_big {
        width: 191px;
        height: 43px;
        padding: 9px 41px;
        font-size: 16px;
    }

    .btn__text_has-arrow::after {
        width: 8px;
        height: 8px;
    }
   

}

// Это 1280
@media(max-width: 1439px) {
    .btn_big {
        width: 169px;
        height: 38px;
        padding: 6px 29px;
    }
  

}

// Это 1024
@media(max-width: 1279px) {
    .btn_big {
        width: 136px;
        height: 32px;
        padding: 4px 19px;
        font-size: 13px;
    }

    .btn__text_has-arrow::after {
        width: 6px;
        height: 6px;
    }
  

}

// Это 768
@media(max-width: 1023px) {

    .btn_big {
        width: 200px;
        height: 64px;
        padding: 16px 28px;
        font-size: 20px;
    }

    .btn__text_has-arrow::after {
        width: 10px;
        height: 10px;
    }
  
}

// Это 480
@media(max-width: 767px) {
    .btn_big {
        width: 170px;
        height: 54px;
        padding: 10px 14px;
        font-size: 20px;
    }
  

}

// Это 320
@media(max-width: 479px) {
   

}

