.design-block-bg-out{
    background-color: #fff;
}

.design-block-bg-inner {
    max-width: 1920px;
    height: 824px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    background: url(../img/desig-block/desig-block.webp) -53% center no-repeat;
}