.goods-catalog-bg {
    background-color: $mainBg;
}

.goods-catalog-container {
    max-width: 1662px;
}

.goods-catalog {
    padding-top: 118px;
    padding-bottom: 96px;
}

.goods-catalog__heading-additional {
    font-weight: 600;
    font-size: 37px;
    line-height: 1.24;

    color: $black;
    margin-bottom: 4px;
}

.goods-catalog__heading {
    text-transform: uppercase;
    font-size: 59px;
    font-weight: 700;
    line-height: 1.2;
    color: $mainColor;
    margin-bottom: 80px;

}

.goods-catalog__main-container {
    display: flex;
    margin-bottom: 126px;
}

.goods-catalog__filters {
    flex-shrink: 0;
    width: 379px;
    height: 641px;
    padding: 41px 46px 40px 40px;
    background-color: $mainColor;
    margin-right: 28px;
}

.goods-catalog__filters-list {}

.goods-catalog__filter {
    width: 100%;
}

.goods-catalog__filter-name {
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 16px;
    color: white;
    cursor: pointer;
}


.goods-catalog__filter_active .goods-catalog__filter-name {
    font-weight:600;
}

.goods-catalog__filters-sublist {
    margin-bottom: 16px;
}

.goods-catalog__subfilter {
    padding-left: 19px;
    font-size: 19px;
    line-height: 1.21;
    color: white;
    margin-bottom: 8px;
    cursor: pointer;

}

.goods-catalog__subfilter:hover {
    text-decoration: underline;
}

.goods-catalog__subfilter_active {
    position: relative;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.21;

}

.goods-catalog__subfilter_active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    display: block;
    width: 9px;
    height: 9px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
}

.goods-catalog__cards {
    display: flex;
    flex-wrap: wrap;
}

.goods-catalog__card {
    margin-right: 23px;
    margin-bottom: 51px;
}



.goods-catalog__pagination {
    display: flex;
    justify-content: flex-end;
    padding-right: 23px;
}

.goods-catalog__pagination-list {
    margin-top: 0;
}