.goods-catalog-bg {
    background-color: $mainBg;
}

.goods-catalog-container {
    max-width: 1662px;
}

.goods-catalog {
    padding-top: 118px;
    padding-bottom: 67px;
}

.goods-catalog__heading-additional {
    margin-bottom: 4px;
}

.goods-catalog__heading {
    margin-bottom: 80px;

}

.goods-catalog__main-container {
    display: flex;
    margin-bottom: 126px;
}

.goods-catalog__filters {
    flex-shrink: 0;
    width: 379px;
    height: 641px;
    padding: 41px 46px 40px 40px;
    background-color: $mainColor;
    margin-right: 28px;
}

.goods-catalog__filters-list {}

.goods-catalog__filter {
    width: 100%;
}

.goods-catalog__filter-name {
    display: block;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 16px;
    color: white;
    cursor: pointer;
}


.goods-catalog__filter_active .goods-catalog__filter-name {
    font-weight: 600;
}

.goods-catalog__filters-sublist {
    margin-bottom: 16px;
}

.goods-catalog__subfilter {
    padding-left: 19px;
    font-size: 19px;
    line-height: 1.21;
    color: white;
    margin-bottom: 8px;
    cursor: pointer;

}

.goods-catalog__subfilter:hover {
    text-decoration: underline;
}

.goods-catalog__subfilter_active {
    position: relative;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.21;

}

.goods-catalog__subfilter_active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    display: block;
    width: 9px;
    height: 9px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
}

.goods-catalog__cards {
    display: flex;
    flex-wrap: wrap;
}

.goods-catalog__card {
    margin-right: 23px;
    margin-bottom: 51px;
}


.goods-catalog__nav-slider-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.goods-catalog__nav-slider {}

.goods-catalog__filter-btn-wrapper {
    display: none;
}



// Это 1440
@media(max-width: 1800px) {

    .goods-catalog-container {
        max-width: 1173px;
    }

    .goods-catalog {
        padding-top: 73px;
        padding-bottom: 58px;
    }

    .goods-catalog__main-container {
        margin-bottom: 137px;
    }

    .goods-catalog__heading {
        margin-bottom: 64px;
    }

    .goods-catalog__filters {
        width: 270px;
        height: 455px;
        padding: 29px 30px 30px 27px;
        margin-right: 15px;
    }

    .goods-catalog__filter-name {
        margin-bottom: 10px;
    }

    .goods-catalog__filter-name {
        font-size: 20px;
    }

    .goods-catalog__subfilter {
        font-size: 16px;
    }

    .goods-catalog__card {
        margin-right: 15px;
    }


}

// Это 1280
@media(max-width: 1439px) {
    .goods-catalog-container {
        max-width: 1013px;
    }

    .goods-catalog {
        padding-top: 60px;
        padding-bottom: 68px;
    }

    .goods-catalog__main-container {
        margin-bottom: 89px;
    }

    .goods-catalog__filters {
        width: 240px;
        height: 400px;
        padding: 25px 18px 25px 24px;
        margin-right: 16px;
    }

    .goods-catalog__filter-name {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .goods-catalog__subfilter {
        font-size: 12px;
    }

    .goods-catalog__subfilter_active::before {
        top: 4px;
        width: 6px;
        height: 6px;
    }


}

// Это 1024
@media(max-width: 1279px) {

    .goods-catalog-container {
        max-width: 862px;
    }

    .goods-catalog {
        padding-top: 17px;
        padding-bottom: 20px;
    }

    .goods-catalog__heading {
        margin-bottom: 31px;
    }


    .goods-catalog__main-container {
        margin-bottom: 53px;
    }

    .goods-catalog__filters {
        width: 216.34px;
        height: 333.03px;
        padding: 20px 15px 20px 19px;
    }

    .goods-catalog__filter-name {}

    .goods-catalog__subfilter {
        font-size: 12px;
        padding-left: 14px;
        margin-bottom: 4px;
    }

    .goods-catalog__subfilter_active::before {
        width: 5px;
        height: 5px;
    }

    .goods-catalog__card {
        margin-bottom: 30px;
    }



}

// Это 768
@media(max-width: 1023px) {

    .goods-catalog-container {
        max-width:  686px;
    }

    .goods-catalog {
        padding-top: 4px;
    }

    .goods-catalog__heading {
        margin-bottom: 15px;
    }

    .goods-catalog__main-container {
        flex-direction: column;
        margin-bottom: 106px;
    }

    .goods-catalog__filters {
        display: none;
    }

    .goods-catalog__filter-btn-wrapper {
        display: block;
        position: relative;
        align-self: flex-start;
        height: 56px;
        margin-bottom: 32px;
    }

    .goods-catalog__filter-btn-bg {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        right: 0;
        width: 336px;
        background-color: $mainColor;
    }


    .goods-catalog__filter-btn {
        position: relative;
        display: flex;
        align-items: center;
        z-index: 2;
        height: 56px;
        padding-right: 132px;
    }

    .goods-catalog__filter-btn-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 155%;
        color: #FFFFFF;
        margin-right: 8px;
    }

    .goods-catalog__filter-btn-icon {
        width: 19px;
    }

    .goods-catalog__card {
        margin-right: 24px;
    }

}

// Это 480
@media(max-width: 767px) {
    .goods-catalog-container {
        max-width: 446px;
    }

    .goods-catalog {
        padding-top: 15px;
        padding-bottom: 40px;
    }

    .goods-catalog__heading {
        margin-bottom: 23px;
    }

    .goods-catalog__main-container {
        margin-bottom: 81px;
    }

    .goods-catalog__filter-btn-wrapper {
        margin-bottom: 39px;
    }

    .goods-catalog__filter-btn-bg {
        width: 431.32px;
    }

    .goods-catalog__filter-btn {
        padding-right: 292px;
    }

   
}

// Это 320
@media(max-width: 479px) {
    .goods-catalog-container {
        max-width: 320px;
    }

    .goods-catalog__heading {
        margin-bottom: 24px;
    }

    .goods-catalog__main-container {
        margin-bottom: 49px;
    }

    .goods-catalog__filter-btn {
        height: 48px;
        padding-right: 174px;
        padding-top: 10px;
    }

    .goods-catalog__cards {
        width: 100%;
        justify-content: center;
    }

    .goods-catalog__card {
        margin-right: 6px;
        margin-left: 6px;
    }

    
}