.header-bg {
    background-color: $mainBg;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 19px 0;
}

.header__logo-container {}

.logo-container {}

.logo-container__img {}

.header__inner {
    width: 1337px;
}

.header__contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 14px;
}

.header__email-wrapper {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.header__email-icon {
    width: 21px;
    margin-right: 6px;
}

.header__email {
    color: $mainColor;
    font-size: 19.2px;
    line-height: 1.55;
}

.header__email:hover {
    color: $mainColor;
}

.header__tel-select {

    margin-right: 40px;
}

.custom-select {
    position: relative;
    width: 253px;

}

.custom-select_active {}

.custom-select__current-wrapper {
    padding: 2px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    cursor: pointer;
}

.custom-select_active .custom-select__current-wrapper {
    border: 1px solid $mainColor06;
}

.custom-select__icon {
    width: 26px;
    margin-right: 5px;
}

.custom-select__current {
    position: relative;
    padding-right: 20px;
    color: $mainColor;
    font-size: 19px;
    line-height: 1.27;


}

.custom-select__current:after {
    content: '';
    position: absolute;
    right: 1px;
    top: 24%;
    display: block;
    width: 9px;
    height: 9px;
    border-top: 1px solid rgba(0, 0, 0, .6);
    border-right: 1px solid rgba(0, 0, 0, .6);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(132deg);

}

.custom-select_active .custom-select__current:after {
    border-top: 1px solid $mainColor;
    border-right: 1px solid $mainColor;
    transform: rotate(45deg);

}

.custom-select__options {
    display: none;
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateY(100%);
}

.custom-select_active .custom-select__options {
    display: block;
}

.custom-select__option-wrapper {
    width: 100%;
    padding: 2px 2px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 2px solid $mainColor;
    border-bottom: 1px solid $mainColor;
    cursor: pointer;
    // transition: background-color .25s ease-in;
}

.custom-select__option-wrapper:last-child {
    border-bottom: 2px solid $mainColor;
}

.custom-select__option-wrapper:hover {
    background-color: $mainColor;
}


.custom-select__option {
    padding-right: 20px;
    color: $mainColor;
    font-size: 19px;
    line-height: 1.57;
    // transition: color .25s ease-in;

}

.custom-select__option-wrapper:hover .custom-select__option {
    color: white;
}


.custom-select__option-icon {
    width: 26px;
    margin-top: 4px;
    margin-right: 5px;
}


.custom-select__option-wrapper:hover .custom-select__option-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(100%) contrast(103%);
}

// смена флага
.header__lang-select {}

.lang-select {
    position: relative;
    width: 78px;
    height: 32px;
}


.lang-select__current-wrapper {
    padding: 2px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    cursor: pointer;

}

.lang-select_active .lang-select__current-wrapper {
    border: 1px solid $mainColor06;
}

.lang-select__current {
    position: relative;
    padding-right: 20px;
}

.lang-select__current:after {
    content: '';
    position: absolute;
    right: 1px;
    top: 24%;
    display: block;
    width: 9px;
    height: 9px;
    border-top: 1px solid rgba(0, 0, 0, .6);
    border-right: 1px solid rgba(0, 0, 0, .6);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(132deg);
}

.lang-select_active .lang-select__current:after {
    border-top: 1px solid $mainColor;
    border-right: 1px solid $mainColor;
    transform: rotate(45deg);

}

.lang-select__icon {
    width: 33px;
}

.lang-select__options {
    // display: none;
    display: none;
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateY(100%);
}

.lang-select_active .lang-select__options {
    display: block;
}

.lang-select__option-wrapper {
    width: 100%;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid $mainColor;
    border-bottom: 1px solid $mainColor;
    cursor: pointer;
}

.lang-select__option-wrapper:hover {
    background-color: $mainColor;
}

.lang-select__option-wrapper:last-child {
    border-bottom: 2px solid $mainColor;
}

.lang-select__option-icon {
    width: 33px;
    margin-right: 6px;
}

.lang-select__option-text {
    color: $mainColor;
    padding-right: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;


}


.lang-select__option-wrapper:hover .lang-select__option-text {
    color: white;
}

.lang-select__option {}


// смена флага


.header__bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 56px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    color: $black06;
    font-size: 24px;
    line-height: 1.55;
    padding-bottom: 3px;
    transition: color .25s ease-in;
}

.header__nav-link:hover {
    color: $mainColor;
}

.header__nav-link_active {
    color: $mainColor;
    border-bottom: 3px solid $mainColor;

}

.header__search-container {}

.header__search-button {}

.header__search-icon {
    width: 30px;
}

.header__mobile-container {
    display: none;
}






@media(max-width: 1800px) {

    .logo-container__img {
        width: 90px;
    }

    .header__inner {
        width: 944px;
    }

    .header__email-wrapper {
        margin-right: 30px;
    }

    .header__email {
        font-size: 16px;
    }

    .header__tel-select {
        margin-right: 30px;
    }

    .custom-select {
        width: 217px;
    }

    .custom-select__current {
        font-size: 16px;
    }

    .custom-select__current:after {
        top: 20%;
        width: 8px;
        height: 8px;
    }

    .custom-select__icon {
        width: 20px;
    }

    .custom-select__option {
        font-size: 16px;
    }

    .custom-select__option-icon {
        width: 20px;

    }

    .lang-select {
        width: 63px;
        height: 24px;
    }

    .lang-select__icon {
        width: 24px;
    }

    .lang-select__current:after {
        top: 20%;
        width: 8px;
        height: 8px;
    }

    .lang-select__option-icon {
        width: 24px;
    }

    .header__nav-link {
        font-size: 20px;
    }

    .header__search-icon {
        width: 24px;
    }

}

@media(max-width: 1439px) {
    .logo-container__img {
        width: 80px;
    }

    .header__inner {
        width: 782px;
    }

    .header__email {
        font-size: 13px;
    }

    .header__email-icon {
        width: 17px;
        margin-right: 5px;
        margin-top: 2px;
    }

    .custom-select__current {
        font-size: 13px;
    }

    .custom-select__icon {
        width: 17px;
    }

    .custom-select__option {
        font-size: 13px;
    }

    .custom-select__option-icon {
        width: 17px;
    }

    .custom-select {
        width: 187px;
    }

    .lang-select {
        width: 61px;
        height: 22px;
    }

    .lang-select__icon {
        width: 21px;
    }

    .lang-select__option-icon {
        width: 21px;
    }

    .header__nav-item {
        margin-right: 48px;
    }

    .header__nav-link {
        font-size: 16px;
    }

    .header__search-icon {
        width: 21px;
    }


}

@media(max-width: 1279px) {
    .logo-container__img {
        width: 90px;
    }

    .header__inner {
        display: none;
    }

    .header__mobile-container {
        display: flex;
    }

    .header__search-container {
        margin-right: 56px;
    }

    .header__search-icon {
        width: 36px;
    }


    .menu-burger__switcher {
        display: flex;
        align-items: center;
        position: relative;
        width: 40px;
        height: 30px;
        cursor: pointer;
        z-index: 11;

    }

    .menu-burger__switcher-line {
        position: relative;
        width: 32px;
        height: 3px;
        background-color: $black;
    }


    .menu-burger__switcher-line::before {
        position: absolute;
        left: 0;
        top: -10px;
        content: '';
        width: 32px;
        height: 3px;
        background-color: $black;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

    }

    .menu-burger__switcher-line::after {
        position: absolute;
        left: 0;
        top: 10px;
        content: '';
        width: 32px;
        height: 3px;
        background-color: $black;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

    }

    .menu-burger__switcher_active .menu-burger__switcher-line {
        background-color: transparent;
    }

    .menu-burger__switcher_active .menu-burger__switcher-line::before {
        left: 8px;
        transform: rotate(33deg);
        width: 32px;
        height: 3px;
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    .menu-burger__switcher_active .menu-burger__switcher-line::after {
        left: 8px;
        transform: rotate(-33deg);
        width: 32px;
        height: 3px;
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    .lang-select {
        height: 30px;
        width: 62px;
    }

    .header__lang-select {
        margin-right: 42px;
    }


    .lang-select__icon {
        width: 32px;
    }

    .lang-select__option-icon {
        width: 32px;
    
    }

    .lang-select__option-wrapper {
        padding: 2px 2px;
    }

    .custom-select__current {
        font-size: 16px;
    }

    .custom-select__icon {
        display: none;
    }
    .header__tel-select {
        margin-right: 0;
    }

    .custom-select {
        width: 177px;
    }

    .custom-select__current {
        padding-right: 14px;
    }

    .custom-select__option {
        font-size: 16px;
        padding-right: 0;
    }

    .header__nav {
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }

    .header__nav-list{
        display: flex;
        flex-direction: column;
    }

    .header__nav-item {
        margin-right: 0;
        margin-bottom: 32px;
    }

    .header__nav-item:last-child {
        margin-bottom: 0;
    }

    .header__email-wrapper {
        margin-right: 0;
        margin-bottom: 36px;
    }

    .header__email {
        font-size: 16px;
    }

    .header__email-icon {
        width: 25px;
    }

 

}

@media(max-width: 1023px) {
    .header__search-container {
        margin-right: 34px;
    }


}

@media(max-width: 767px) {

    .menu-burger__switcher {
        width: 29px;
    }

    .menu-burger__switcher-line {
        width: 28px;
    }

    .menu-burger__switcher-line:after {
        width: 28px;
    }

    .menu-burger__switcher-line:before {
        width: 28px;
    }

}


@media(max-width: 479px) {
    .header__search-container {
        margin-right: 28px;
    }

    .header__search-icon {
        width: 33px;
    }

    .menu-burger__switcher {
        width: 27px;
    }

    .menu-burger__switcher-line {
        width: 26px;
    }

    .menu-burger__switcher-line:after {
        width: 26px;
        top: 9px;
    }

    .menu-burger__switcher-line:before {
        width: 26px;
        top: -9px;
    }
}