.main-slider-bg-out {
    background-color: $mainBg;
}

.main-slider-bg-inner {
    position: relative;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.bg-circle {
    position: absolute;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 57px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px dashed $mainColor;

}

.bg-circle__inner-circle {
    @include circle(693px, $mainColor);

}

.main-slider-bg-circle {
    right: -160px;
    top: 28px;

}

.main-slider-bg-rect {
    position: absolute;
    z-index: 1;
    width: 382.5px;
    height: 438.44px;
    right: 578px;
    top: 207px;
    border: 2px solid $mainColor;
}

.main-slider {
    position: relative;
    z-index: 3;
    padding-top: 28px;
    padding-bottom: 50px;
}

.main-slider__inner {
    width: 100%;
    padding-top: 205px;
    margin-bottom: 90px;
}

.main-slider__slide {}

.main-slider__slide-inner {
    display: flex;
}

.main-slider__text-content {
    margin-top: 5px;
    margin-right: 206px;
}

.main-slider__good-name {
    width: 671px;
    font-weight: 600;
    font-size: 58px;
    line-height: 1.22;
    color: $black;
    margin-bottom: 32px;
}

.main-slider__good-name-span {
    color: $mainColor;
    margin-bottom: 32px;
}

.main-slider__description {
    width: 526px;
    font-size: 24px;
    line-height: 1.58;
    color: $black07;
}

.main-slider__img {
    width: 514px;
}

.main-slider__next {
    position: absolute;
    right: 560px;
    bottom: 190px;
    display: block;
    width: 13px;
    height: 13px;
    border-top: 2px solid $mainColor;
    border-right: 2px solid $mainColor;
    transform: rotate(45deg);
}


.main-slider__btn-details {
    position: absolute;
    top: 617px;
    right: 514px;

}

.main-slider__socials-wrapper {
    display: flex;

}

.main-slider__social-link {
    width: 50px;
    height: 35px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-right: 5px;
}

.main-slider__social-link:last-child {
    margin-right: 0;
}

.main-slider__social-icon {
    height: 25px;
}


.main-slider__numbers-container {
    display: flex;
    width: 271px;
    border-top: 2px solid $mainColor;
    margin-top: 126px;
    margin-left: 784px;
}

.main-slider__numbers-container li {}

.main-slider__numbers-container li.slick-active {}

.main-slider__numbers-container button {
    padding: 0px 39px;
    background-color: #fff;
    border: 2px solid $mainColor04;
    border-top: none;
    color: $mainColor04;
    font-size: 24px;
    line-height: 1.5;
}

.main-slider__numbers-container li.slick-active button {
    color: #fff;
    background-color: $mainColor;
    border: 2px solid $mainColor;
    border-top: none;

}