.nav-slider {
    position: relative;
    width: 271px;
    border-top: 2px solid $mainColor;
}

.nav-slider__inner {
    width: 185px;
}

.nav-slider__slide {
    cursor: pointer;
}

.nav-slider__slide-inner {
    padding: 0px 32px;
    background-color: #fff;
    border: 2px solid $mainColor04;
    border-top: none;
    color: $mainColor04;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}

.nav-slider__slide.slick-current .nav-slider__slide-inner {
    color: #fff;
    background-color: $mainColor;
    border: 2px solid $mainColor;
    border-top: none;
}

.nav-slider__arrow-next {
    position: absolute;
    right: 5px;
    bottom: 36%;
    display: block;
    width: 13px;
    height: 13px;
    border-top: 2px solid $mainColor;
    border-right: 2px solid $mainColor;
    transform: rotate(45deg);
}


// Это 1440
@media(max-width: 1800px) {

    .nav-slider {
        position: relative;
        width: 203px;
    }

    .nav-slider__inner {
        width: 150px;
    }

    .nav-slider__slide-inner {
        font-size: 20px;
        line-height: 1.3;
        padding: 0 20px;
    }

    .nav-slider__arrow-next {
        width: 11px;
        height: 11px;
    }
   

}

// Это 1280
@media(max-width: 1439px) {
    .nav-slider {
        width: 180px;
    }
    .nav-slider__inner {
        width: 122px;
    }

    .nav-slider__slide-inner {
        font-size: 16px;
        padding: 0 17px;
    }

    .nav-slider__arrow-next {
        width: 10px;
        height: 10px;
    }

  
  

}

// Это 1024
@media(max-width: 1279px) {
  

}

// Это 768
@media(max-width: 1023px) {

    .nav-slider {
        width: 208px;
    }

    .nav-slider__inner {
        width: 142px;
    }



    .nav-slider__slide-inner {
        font-size: 20px;
        
    }
  
}

// Это 480
@media(max-width: 767px) {
  

}

// Это 320
@media(max-width: 479px) {
   

}